[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "pure"]
	path = pure
	url = https://github.com/python-nantes/pure.git
[submodule "sources/presentations/reveal.js"]
	path = sources/presentations/reveal.js
	url = https://github.com/hakimel/reveal.js.git
