# -*- coding: utf-8 -*-

import os
import sys
sys.path.append(os.curdir)
from settings import *

# settings.py overrides
THEME = 'pure'
SITEURL = 'http://dev.nantes.afpy.org'
OUTPUT_PATH = '/var/www/dev.nantes.afpy.org/'
